img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;

}

img.clean {
    border: 0px;
}

img.left {
    float: left;
    margin: 10px;
    border-radius: 3px;
    margin-right: 20px;
}

img.right {
    float: right;
    margin: 10px;
    margin-left: 20px;
}

img.small {
	width: 150px;
	height: auto;
}

img.medium {
	width: 300px;
	height: auto;
}

img.large {
	width: 500px;
	height: auto;
}

img.noborder {
	border: none;
}

def {
    color: green;
}

fun {
    font-family: "Courier New", Courier, monospace;
    color: #822;
}

var {
    font-style: normal;
    font-family: "Courier New", Courier, monospace;
    color: #227;
}

img.patreon {
	border: none;
	display: inline-block;
	max-height: 13px;
	margin-bottom: 2px;
}

img.paypal {
	border: none;
	display: inline-block;
	max-height: 13px;
}
